@using FlightSearchApp.Domain;

@{
    ViewData["Title"] = "<span>Code lists</span>";
}

@section Styles {
    @{
        await Html.RenderPartialAsync("_DataTablesStyles");
    }
}

<div>
    <div class="row">
        <div class="col-sm-3">
            <div class="input-group" id="customSearch">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" id="txtSearch" class="form-control" style="width:90%" placeholder="Search ...">
            </div>
        </div>
        <div class="col-xs-6">
            <select class="form-control select2" id="cboEntity"></select>
        </div>
        <div class="col-xs-3 text-right">
            <a id="btnCodeListAdd" class="btn btn-primary">
                <i class="fa fa-plus-square">
                </i>&nbsp;&nbsp;<span>New</span>
            </a>
        </div>
    </div>
    <table id="dtCodeList" class="display compact cell-border dt" cellspacing="0" style="width:100%">
        <thead>
            <tr>
                <th>Code</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@{
    await Html.RenderPartialAsync("_ModalCodeList");
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_DataTablesScripts");
    }

    <script type="text/javascript">
        function codeListDelete(url) {
            $.ajax({
                type: 'POST',
                url: url,
                dataType: 'html',
                cache: false,
                success: function (data) {
                    ReloadDataTable("dtCodeList");  //TODO: provjeriti zašto ne radi refresh nakon brisanja
                }
            });
        }

        function codeListUpdate(data, add) {
            var rawData = data.split('|');

            $("#cboCodeListEntity").val(add ? $("#cboEntity").select2('val') : rawData[2]).trigger('change');
            $("#txtCodeListID").val(add ? '' : rawData[0]);
            $("#txtCodeListCode").val(add ? '' : rawData[1]);
            OpenModal("codeListModal");
            ReloadDataTable("dtCodeList");
        }

        function codeListSave(url, data) {
            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                cache: false,
                success: function (data) {
                    if (data > 0) {
                        $("#txtCodeListID").val(data);
                    }
                }
            });
        }

        $(document).ready(function ($) {
            readForComboAndSetValue('@Globals.GetAjaxPath(AjaxPath.CodeListGetEntitiesForCombo)', 'cboCodeListEntity', false, "1");
            readForComboAndSetValue('@Globals.GetAjaxPath(AjaxPath.CodeListGetEntitiesForFilterCombo)', 'cboEntity', false, "-1");

            $('#dtCodeList').DataTable({
                paging: false,
                info: false,
                ordering: true,
                deferRender: true,
                columns: [
                    { width: "" },
                    { width: "10px" },
                    { width: "10px" }
                ],
                ajax: {
                    url: "@Globals.GetAjaxPath(AjaxPath.CodeListReadForDT)",
                    data: function (d) {
                        d.entity = $("#cboEntity").select2("val")
                    }
                }
            });

            $('#codeListModal').on('shown.bs.modal', function () {
                $('#txtCodeListCode').focus();
            });

        }).on("click", '#btnCodeListSave', function (event) {
            if (!$("#frmCodeListModal").valid()) {
                return false;
            };

            var data = {
                codeList: {
                    ID: $("#txtCodeListID").val(),
                    Entity: $("#cboCodeListEntity").select2("val"),
                    Code: $("#txtCodeListCode").val()
                }
            };

            var url = "@Globals.GetAjaxPath(AjaxPath.CodeListAdd)";
            if ($("#txtCodeListID").val() != 0) {
                url = "@Globals.GetAjaxPath(AjaxPath.CodeListUpdate)";
            }

            CloseModal("codeListModal");

            codeListSave(url, data);

            setTimeout(function () { ReloadDataTable("dtCodeList"); }, 1000);

        }).on("click", '#btnCodeListAdd', function (event) {
            OpenModal("codeListModal");

            codeListUpdate('', true);

        }).on("click", '#btnCodeListUpdate', function (event) {
            codeListUpdate(this.getAttribute('data'), false);

        }).on("change", "#cboEntity", function (e) {
            ReloadDataTable("dtCodeList");

        });
    </script>
}